body {
    background-image: url(https://imagedelivery.net/W9K_l6ndK9x4x8m3rurakg/09a1b07f-5786-4b5d-d0d5-c34cac1c2e00/original);
  }
  
  .title {
    color: darkred;
    background-color: red;
    margin-left: 20px;
    border: 5px dashed red;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .nav {
    border: 4px dashed lightblue;
    box-sizing: border-box;
    padding: 0.1px;
    margin: 0;
  }


  .black {
    color: black
  }


  .server {
    position: absolute;
    top: 160px;
    right: 150px;
    width: 500px;
    height: 250px;
    border: 3px solid #73AD21;
    background-image: url(https://imagedelivery.net/W9K_l6ndK9x4x8m3rurakg/f61add12-fdcf-452b-6165-805b61f5c700/original);
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
  }

  .games {
    position: absolute;
    top: 160px;
    right: 900px;
    width: 500px;
    height: 250px;
    border: 3px solid red;
    background-image: url(https://imagedelivery.net/W9K_l6ndK9x4x8m3rurakg/dedcc196-d523-4d0f-7529-1408a00f7e00/original);
    font-size: large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, san-serif;
    color: white;
  }