.mainmenu {
    position: absolute;
    top: 160px;
    right: 100px;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
    background-color: lime;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
  }


body {
    color: white;
    background-image: url(https://imagedelivery.net/W9K_l6ndK9x4x8m3rurakg/09a1b07f-5786-4b5d-d0d5-c34cac1c2e00/original);
  }

.aboutus {
    position: absolute;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 1075px;
    top: -1px;
    background-color: lime;
    width: 500px;
    height: 150px;

}


.aboutus:hover {
    position: absolute;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 1075px;
    top: -1px;
    background-image: url('2024-07-22_18.28.04.png');
    width: 500px;
    height: 150px;

}

.aboutus:active {
    position: absolute;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 1075px;
    top: -1px;
    background-color: #013220;
    width: 500px;
    height: 150px;

}

.howtoplay {
    position: absolute;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 575px;
    top: -1px;
    width: 500px;
    height: 150px;
}
