.mainmenu {
    position: absolute;
    top: 160px;
    right: 100px;
    width: 150px;
    height: 250px;
    border: 3px solid #73AD21;
    background-color: lime;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
  }


body {
    text-color: white;
    text-size: auto;
}
